#carouselExampleIndicators{
  margin-top: 10px;
  margin: 150px auto 150px ; 
}

#navbarContent{
  margin-left: 50px;
}

.col btn-primary{
  background-color: aliceblue;
}

@media (max-width: 603px){
  #adres1{
    display: none;
  }
}

@media (min-width: 603px){
  #adres2{
    display: none;
  }
}

@media (max-width: 991px){
  #button1{
    display: none;
  }
}

@media (min-width: 991px){
  #button2{
    display: none;
  }
}

.footer-left a{
  margin-right: 20px;
}

.footer-right a{
  color: white;
  margin-left: 20px;
}


.footer {
  background-color: #08664F;
  padding: 15px 0;
}

.container{
  height: 100px;
  width: 46px;
}

@media (max-width: 991px){
  .nav-item{
    display: none;
  }
}


